// Colors
$dark-color:#000814;
$primary-color:#001D3D;
$primary_light-color:#003566;
$secondary-color:#ffc300;
$secondary_light-color:#ffd60a;
$box_color:#e0e7f7;
$speed-transition:.3s;
$padding_section:100px;
